@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/jsmath-cmti10');

$fontFamily: "Quicksand", sans-serif;
$fontSecond : 'jsMath-cmti10', sans-serif;
$text:black;
$button: #0057FF;
$white: white;